#PostgreSQL
POSTGRES_HOST=postgresql
POSTGRES_PORT=5432
POSTGRES_DB=taskflow
POSTGRES_USER=taskflow
POSTGRES_PASSWORD=changeme
POSTGRES_SYNCHRONIZE=true
POSTGRES_LOGGING=false

#Api (NestJS)
API_PORT=3000

# JWT
JWT_ACCESS_SECRET=your-secret-key
JWT_ACCESS_TTL=30d

#Web (Next.js)
WEB_PORT=3001
API_URL=http://taskflow-api:3000/

#SMTP
SMTP_HOST=mailpit
SMTP_PORT=1025
SMTP_SECURE=false
SMTP_STARTTLS=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM=no-reply@taskflow.local

EMAIL_CHANNEL_SHOULD_FAIL=true
